[Unit]
Description=Vérification périodique du montage NFS selon le réseau - smartmount
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nfs-smartmount.sh mount
